---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  number: string;
  title: string;
  imagePath: string;
  link: string;
}

const { number, title, imagePath, link } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*.{jpeg,jpg,png,gif}");
if (!images[imagePath])
  throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<article class="flex gap-6">
  <div class="flex-shrink-0">
    <Image
      src={images[imagePath]()}
      alt={title}
      class="h-32 w-24 object-cover"
      loading="eager"
      format="webp"
    />
  </div>
  <div class="flex flex-col justify-between gap-2">
    <span class="text-3xl font-bold text-theme-soft-red">{number}</span>
    <a
      href={link}
      class="cursor-pointer text-lg font-extrabold text-theme-very-dark-blue transition-colors delay-100 hover:text-theme-soft-red"
    >
      <h2>{title}</h2>
    </a>
    <p class="text-theme-dark-grayish-blue">
      <slot />
    </p>
  </div>
</article>
